#container {
    position: absolute;
    width: 1200px;
    height:800px;
    border:2px solid #000000;
    perspective: 600px;
    overflow: hidden;
}

#world {
    position: absolute;
    /* get from #container */
    width: inherit;
    height: inherit;
    /* background-color: #C0FFFF; */
    transform-style:preserve-3d;
    /*top: 70px;*/
}

.square {
    position: absolute;
}

.menu {
    display: none;
    position: absolute;
    width: inherit;
    height: inherit;
    background-color:#C0FFFF;
}

.button {
    position: absolute;
    width: 900px;
    height: 250px;
    background-color:#FFF;
    cursor: pointer;
}

.button:hover{
    background-color:#DDD;
}

#button1 {
    top:100px;
    left:150px;
}

#button2 {
    top:450px;
    left:150px;
}

#button3 {
    top:450px;
    left:150px;
}