body {
    display: flex;
    justify-content: center;
}

#container {
    position: relative;
    width: 97vw;  /* 97% of Viewport Width */
    height: 80vh; /* 80% of Viewport Height */
    border:2px solid #000000;
    perspective: 600px;
    overflow: hidden;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: 10px auto;
}

#world {
    position: absolute;
    /* get from #container */
    width: inherit;
    height: inherit;
    /* background-color: #C0FFFF; */
    transform-style:preserve-3d;
}

.square {
    position: absolute;
}

.menu {
    display: none;
    position: absolute;
    width: inherit;
    height: inherit;
    background-color:#C0FFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px 450px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 150px;
    background-color:#FFF;
    cursor: pointer;
}

.button:hover{
    background-color:#DDD;
}

p {
    font-size: 60px;
    font-family: avezon;
}

@font-face {
    font-family: avezon;
    src:url("../fonts/AVEZON.ttf");
}