#container {
    position: absolute;
    width: 1200px;
    height:800px;
    border:2px solid #000000;
    perspective: 600px;
}

#world {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #C0FFFF;
    /* X, Y, Z */
    transform: translate3d(200px,100px,50px)
    rotateX(45deg);
}

#square1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #FF0000;
    transform: rotateY(60deg);
}